<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--配置自动扫描包，扫描controller-->
    <context:component-scan base-package="com.wen.crowd.mvc"/>

    <!--配置视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="resourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--配置基于SpringMVC注解驱动-->
    <mvc:annotation-driven/>
    <!--过滤静态资源-->
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/bootstrap/**" location="/bootstrap/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/fonts/**" location="/fonts/"/>
    <mvc:resources mapping="/img/**" location="/img/"/>
    <mvc:resources mapping="/jquery/**" location="/jquery/"/>
    <mvc:resources mapping="/script/**" location="/script/"/>
    <mvc:resources mapping="/ztree/**" location="/ztree/"/>
    <mvc:resources mapping="/layer/**" location="/layer/"/>
    <mvc:resources mapping="/self/**" location="/self/"/>
    <!--配置基于XML的异常处理映射机制-->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver" id="exceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="com.wen.crowd.exception.LoginFailedException">admin-login</prop>
                <prop key="com.wen.crowd.exception.AccessForbiddenException">admin-login</prop>
                <prop key="com.wen.crowd.exception.LoginAcctAlreadyInUseException">admin-add</prop>
                <prop key="com.wen.crowd.exception.LoginAcctAlreadyInUseForUpdateException">system-error</prop>
                <!--<prop key="java.lang.Exception">system-error</prop>-->
            </props>
        </property>
    </bean>
    <!--配置view-controller将请求和视图关联，不必写handler方法
    这种方式适用于纯跳转页面，不用携带任何数据-->
    <mvc:view-controller path="/admin/toLoginPage" view-name="admin-login"/>
    <mvc:view-controller path="/admin/toMainPage" view-name="admin-main"/>
    <mvc:view-controller path="/admin/toAddPage" view-name="admin-add"/>
    <mvc:view-controller path="/role/to/page" view-name="role-page"/>
    <mvc:view-controller path="/menu/to/page" view-name="menu-page"/>

    <!--注册拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--mvc:mapping配置要拦截的资源
            /*对应一层路径
            /**对应多层路径-->
            <mvc:mapping path="/**"/>
            <!--mvc:exclude-mapping配置不需要拦截的资源-->
            <mvc:exclude-mapping path="/"/><!--首页-->
            <mvc:exclude-mapping path="/admin/login"/><!--登录操作-->
            <mvc:exclude-mapping path="/admin/toLoginPage"/><!--登录页面-->
            <!--配置拦截器的类-->
            <bean class="com.wen.crowd.mvc.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>